Repository theburgerllc/nycayen.com_update: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, unit-tests, check-test-coverage

typescript-check:
  name: TypeScript check
  entry: npm run type-check
  language: system
  pass_filenames: false

unit-tests:
  name: Run unit tests
  entry: npm run test:ci
  language: system
  pass_filenames: false

check-test-coverage:
  name: Check test coverage
  entry: npm run test:coverage
  language: system
  pass_filenames: false

feat: implement comprehensive interactive services section with advanced UI
  app/components/Services.tsx
  app/instagram/components/InstagramCarousel.tsx
  app/sections/Hero.tsx
  app/sections/InstagramSection.tsx
  package-lock.json
  public/images/services/color-artistry.jpg
  public/images/services/precision-cuts.jpg
  public/images/services/wig-design.jpg
Due: typescript-check, unit-tests, check-test-coverage

fix: remove invalid Next.js image config options for deployment
  next.config.js
Due: unit-tests, check-test-coverage

docs: add comprehensive Vercel deployment guide and environment template
  .env.vercel.template
  VERCEL_DEPLOYMENT.md
Due: none

fix: remove experimental optimizeCss to resolve build warnings
  next.config.js
Due: unit-tests, check-test-coverage

feat: update cron configuration for Vercel Hobby plan compliance
  .env.example
  .env.vercel.template
  VERCEL_DEPLOYMENT.md
  app/api/cron/route.ts
  vercel.json
Due: typescript-check, unit-tests, check-test-coverage

feat: add comprehensive cron job testing and validation tools
  package.json
  scripts/test-cron.js
Due: unit-tests, check-test-coverage

feat: add Vercel deployment setup automation and helper tools
  .gitignore
  package.json
  scripts/vercel-setup.js
Due: unit-tests, check-test-coverage

feat: add comprehensive environment variables validation and checking tools
  package.json
  scripts/env-check.js
Due: unit-tests, check-test-coverage

feat: update environment configuration and add Claude Code settings
  .claude/settings.local.json
  .env.example
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  unit-tests: any of: \.(js|jsx|ts|tsx)$
  check-test-coverage: any of: \.(js|jsx|ts|tsx)$
